{
    "env": {
        "node": true
    },
    "rules": {
        "quotes": 0,
        "new-cap": 0,
        "camelcase": 0,
        "strict": 0,
        "no-use-before-define": 0,
        "eqeqeq": 0,
        "curly": 0,
        "no-loop-func": 0
    }
}

